<?xml version="1.0" encoding="UTF-8"?>
<lint>
    <issue id="all">
        <ignore path="*/test/*" />
    </issue>

    <issue id="HardcodedText" severity="error" />
    <issue id="ObsoleteLayoutParam" severity="ignore" />
    <issue id="UselessLeaf" severity="ignore" />

    <issue id="MissingTranslation" severity="ignore" />
    <issue id="Recycle" severity="ignore" />
    <issue id="VectorPath" severity="ignore" />
    <issue id="MergeRootFrame" severity="ignore" />
    <issue id="Overdraw" severity="ignore" />
    <issue id="Autofill" severity="ignore" />

    <issue id="IconMissingDensityFolder" severity="ignore" />
    <issue id="IconXmlAndPng" severity="ignore" />
    <issue id="IconDipSize" severity="ignore" />
    <issue id="IconLocation" severity="ignore" />
    <issue id="IconDuplicates" severity="ignore" />
    <issue id="IconDensities" severity="ignore" />
    <issue id="IconLauncherShape" severity="ignore" />
    <issue id="InvalidPackage" severity="ignore" />
    <issue id="ButtonCase" severity="ignore" />
    <issue id="Typos" severity="ignore" />
    <issue id="CustomViewStyleable" severity="ignore" />
    <issue id="UnusedIds" severity="ignore" />
    <issue id="InflateParams" severity="ignore" />
    <issue id="LabelFor" severity="ignore" />
    <issue id="DuplicatePlatformClasses" severity="ignore" />
    <issue id="UnusedResources" severity="ignore" />
    <issue id="UnusedAttribute" severity="ignore" />

</lint>
